$primary-color: #2C8C84;
$secondary-color: #F3AD16;
$tertiary-color: #3e4646;
$lightgray: #f5f5f7;
$text-backgraund: #818384;
$background: #121212;
$surface: #1e1e1e;
$error: #CF6679;
$connected: #54c958;
$link: #0a84ff;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}