.form {
    background-color: $surface;
    border: 1px solid #434648;
    border-radius: 0.8rem;
    padding: 1rem;

    &:hover {
        border-color: #969696;
    }

    .form-title {
        font-size: 2.5rem;
        margin: 1rem 1rem 0rem 1rem;
    }

    .error {
        margin: 1rem 2rem;
    }

    form {
        margin-bottom: 1.5rem;
        .grid-form {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            margin: 3rem auto 2rem auto;
            align-items: space-around;
        }

        .grid-form-post {
            margin: 3rem auto 2rem auto;
        }
    }

    .input-box {
        margin-top: 1rem;
        input,textarea {
            display: block;
            margin-top: 0.3rem;
            border-radius: 0.3rem;
            border: 1px solid $tertiary-color;
            outline: none;
            background-color: $surface;
            padding: 0.5rem 1.25rem;
            color: lightgray;
            font-size: 1.2rem;

            &:focus {
                border-color: #03a9f4;
            }
        }

        .normal-input {
            width: 100%;
            max-width: 350px;
        }

        .textarea-input {
            width: 100%;
        }

        .submit {
            color:#ffae00;
            padding: 0.5rem 0.9rem;
            border: 1px solid #ffae00;
            border-radius: 5px;
            font-size: 1.20rem;
            font-weight: 600;
            margin: 0 1rem;
            &:hover {
                background-color: #ffae00;
                color: black;
            }
        }
    }
}