.post, .login-successful, .error-box {
    background-color: $surface;
    border: 1px solid #434648;
    border-radius: 0.8rem;
    padding: 1rem;
    margin-bottom: 0.5rem;

    .flex-login-successful {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        .x-Btn {
            color: $lightgray;
            padding: 0.3rem;
            cursor: pointer;
        }
    }

    .icon {
        margin-right: 0.5rem;
    }
    
    .title-sign {
        display: block;
        position: relative;
        top: 0;
        left: 0;

        .title {
            display: inline;
            h2 {
                display: inline;
                font-size: 1.4rem;
            }
        }
    
        .sign {
            display: inline;
            color: $text-backgraund;
            p {
                display: inline;
            }
        }
    }

    .body {
        margin: 0.5rem 0;
        line-height: 1.4;
    }

    .post-edit {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0.5rem;

        .edit-link {
            padding: 0.3rem;
            margin-right: 0.2rem;
        }

        .delete-link {
            padding: 0.3rem;
        }
    }

    &.x {
        display: none;
    }
}