* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.post, .login-successful, .error-box {
  background-color: #1e1e1e;
  border: 1px solid #434648;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.post .flex-login-successful, .login-successful .flex-login-successful, .error-box .flex-login-successful {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post .flex-login-successful .x-Btn, .login-successful .flex-login-successful .x-Btn, .error-box .flex-login-successful .x-Btn {
  color: #f5f5f7;
  padding: 0.3rem;
  cursor: pointer;
}

.post .icon, .login-successful .icon, .error-box .icon {
  margin-right: 0.5rem;
}

.post .title-sign, .login-successful .title-sign, .error-box .title-sign {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.post .title-sign .title, .login-successful .title-sign .title, .error-box .title-sign .title {
  display: inline;
}

.post .title-sign .title h2, .login-successful .title-sign .title h2, .error-box .title-sign .title h2 {
  display: inline;
  font-size: 1.4rem;
}

.post .title-sign .sign, .login-successful .title-sign .sign, .error-box .title-sign .sign {
  display: inline;
  color: #818384;
}

.post .title-sign .sign p, .login-successful .title-sign .sign p, .error-box .title-sign .sign p {
  display: inline;
}

.post .body, .login-successful .body, .error-box .body {
  margin: 0.5rem 0;
  line-height: 1.4;
}

.post .post-edit, .login-successful .post-edit, .error-box .post-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.post .post-edit .edit-link, .login-successful .post-edit .edit-link, .error-box .post-edit .edit-link {
  padding: 0.3rem;
  margin-right: 0.2rem;
}

.post .post-edit .delete-link, .login-successful .post-edit .delete-link, .error-box .post-edit .delete-link {
  padding: 0.3rem;
}

.post.x, .login-successful.x, .error-box.x {
  display: none;
}

nav.header {
  position: fixed;
  top: 0;
  background-color: #2C8C84;
  width: 100%;
  color: #f5f5f7;
  z-index: 100;
}

nav.header .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.header .edit_Btn {
  display: inline;
  border: 2.5px #3e4646 solid;
  border-radius: 5px;
}

nav.header .edit_Btn a {
  display: block;
  padding: 0.2rem;
}

nav.header .edit_Btn a .edit {
  font-size: 1.3rem;
  color: #3e4646;
}

nav.header .logout {
  display: inline;
  padding: 0 0.2rem;
  margin-right: 0.3rem;
}

nav.header .logout a {
  color: #3e4646;
}

nav.header .nav-small .nav-small-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 0.8rem;
  background-color: #2C8C84;
}

nav.header .nav-small .nav-small-flex .logo-svg {
  height: 2.4rem;
}

nav.header .nav-small .nav-small-flex .burger_Btn {
  cursor: pointer;
  z-index: 106;
}

nav.header .nav-small .nav-small-flex .burger_Btn div {
  width: 27px;
  height: 3px;
  background: #3e4646;
  border-radius: 2px;
  margin: 6px 0;
}

nav.header .nav-small .nav-small-flex .burger_Btn.open {
  -webkit-transform: rotate(360deg) translateX(6px);
          transform: rotate(360deg) translateX(6px);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

nav.header .nav-small .nav-small-flex .burger_Btn .open.line1 {
  -webkit-transform: rotate(45deg) translateY(12px);
          transform: rotate(45deg) translateY(12px);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

nav.header .nav-small .nav-small-flex .burger_Btn .open.line2 {
  background-color: transparent;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

nav.header .nav-small .nav-small-flex .burger_Btn .open.line3 {
  -webkit-transform: rotate(-45deg) translateY(-12px);
          transform: rotate(-45deg) translateY(-12px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.header .nav-small .hide-ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 98%;
  visibility: hidden;
  background-color: #121212;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 105;
}

nav.header .nav-small .hide-ul.open {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.header .nav-small .hide-ul .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
}

nav.header .nav-small .hide-ul .list ul {
  list-style: none;
}

nav.header .nav-small .hide-ul .list ul li {
  margin: 2rem 1rem;
}

nav.header .nav-small .hide-ul .list ul li a {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

nav.header .nav-small .hide-ul .list ul li a .icon {
  margin-right: 1rem;
}

nav.header .nav-large {
  width: 100%;
  max-width: 1000px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 0.8rem;
  background-color: #2C8C84;
  z-index: 2;
  margin: 0 auto;
}

nav.header .nav-large .logo {
  margin-right: 3.6rem;
}

nav.header .nav-large .logo-svg {
  height: 2.4rem;
}

nav.header .nav-large .ul-open ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.header .nav-large .ul-open ul li {
  margin: 0 23%;
}

nav.header .nav-large .ul-open ul li a {
  color: #f5f5f7;
  text-decoration: none;
}

nav.header .nav-large .ul-open ul li a:hover {
  color: white;
}

.info {
  text-align: center;
  background-color: #2C8C84;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2C8C84), to(#0f332f));
  background-image: linear-gradient(to bottom, #2C8C84, #0f332f);
  color: white;
  padding: 1.5rem 0;
  min-height: 80%;
}

.info .logo-svg {
  display: block;
  margin: 0 auto;
  height: 10rem;
}

.info .presentation {
  margin: 1.5rem auto 2.5rem auto;
  max-width: 400px;
  padding: 0 0.4rem;
}

.info .presentation h1 {
  font-size: 3rem;
}

.info .presentation p {
  margin-top: 0.5rem;
  line-height: 1.2;
}

.signin-login-box {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.signin-login-box .signin-link {
  color: #13ec58;
  padding: 0.5rem 0.80rem;
  border: 1px solid #13ec58;
  border-radius: 5px;
  font-size: 1.20rem;
  font-weight: 600;
  margin: 0 1rem;
}

.signin-login-box .signin-link:hover {
  background-color: #13ec58;
  color: black;
}

.signin-login-box .login-link {
  color: #ffae00;
  padding: 0.5rem 0.9rem;
  border: 1px solid #ffae00;
  border-radius: 5px;
  font-size: 1.20rem;
  font-weight: 600;
  margin: 0 1rem;
}

.signin-login-box .login-link:hover {
  background-color: #ffae00;
  color: black;
}

.form {
  background-color: #1e1e1e;
  border: 1px solid #434648;
  border-radius: 0.8rem;
  padding: 1rem;
}

.form:hover {
  border-color: #969696;
}

.form .form-title {
  font-size: 2.5rem;
  margin: 1rem 1rem 0rem 1rem;
}

.form .error {
  margin: 1rem 2rem;
}

.form form {
  margin-bottom: 1.5rem;
}

.form form .grid-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem auto 2rem auto;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.form form .grid-form-post {
  margin: 3rem auto 2rem auto;
}

.form .input-box {
  margin-top: 1rem;
}

.form .input-box input, .form .input-box textarea {
  display: block;
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #3e4646;
  outline: none;
  background-color: #1e1e1e;
  padding: 0.5rem 1.25rem;
  color: lightgray;
  font-size: 1.2rem;
}

.form .input-box input:focus, .form .input-box textarea:focus {
  border-color: #03a9f4;
}

.form .input-box .normal-input {
  width: 100%;
  max-width: 350px;
}

.form .input-box .textarea-input {
  width: 100%;
}

.form .input-box .submit {
  color: #ffae00;
  padding: 0.5rem 0.9rem;
  border: 1px solid #ffae00;
  border-radius: 5px;
  font-size: 1.20rem;
  font-weight: 600;
  margin: 0 1rem;
}

.form .input-box .submit:hover {
  background-color: #ffae00;
  color: black;
}

.error-box p {
  padding: 0.5rem 0;
  line-height: 1.3rem;
}

body {
  background-color: #121212;
  /*
    PATTERN DI SFONDO
    background-image: url("../../public/img/pattern-background2.png");
    background-size: contain ;
    */
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', Arial, sans-serif;
  line-height: 1;
  color: #f5f5f7;
}

body a {
  text-decoration: none;
  color: #0a84ff;
}

body a:hover {
  text-decoration: underline;
}

footer {
  background-color: #0f332f;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 20%;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

footer .footer-content .social-logo {
  height: 2rem;
  margin: 1rem;
}

main {
  width: 100%;
  max-width: 1000px;
  padding: 4rem 0.5rem;
  margin: 0 auto;
  min-height: 80%;
}

.connected {
  color: #54c958;
}

.error {
  color: #CF6679;
}

@media screen and (min-width: 601px) {
  .nav-small {
    display: none;
  }
  .nav-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .nav-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-large {
    display: none;
  }
  .grid-form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */